header{
    background-color: #0069A3;
}
/* Footer */
footer{
    background-color: #0069A3;
    padding: 0px !important;
}
.sección-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin: 40px;
}
.sección-superior img {
    max-width: 20%;
    height: auto;
}  
.sección-superior span {
    color: #F4D73B;
    font-weight: bold;
}  
.text-reset i.fab {
    color: white;
}  
.sección-superior div:last-child {
    display: inline-block;
}
.sección-inferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40px 0px 40px;
    color: white;
    font-size: 14px;
}
.sección-inferior h6{
    color: #F4D73B;
    font-weight: bold;
}
.sección-base{
    text-align: center; 
    padding: 20px; 
}
.sección-base span{
    color: white;
}

.redes {
    display: flex;
    align-items: center;
}
  
.redes span {
    margin-right: 10px;
}